/* custom css goes here*/
.cntct-bg{
    background-image: url("/assets/images/contactbg.png");
    background-size: cover;
    background-repeat: no repeat;

}
.abt-bg{
    background-image: url("/assets/images/aboutbg.png");
    background-size: cover;
    background-repeat: no repeat;

}