<% if(title == "About Me") { %>


<main >
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to the <%= title %> page </h1>
      
        <div class="row">
            <div class="col">
            <img src="/Assets/images/me.jpg" width="150" alt="">
            </div>
            <div class="col-9">
              <dl class="row">
                <dt class="col-sm-3"> Name </dt>
                <dd class="col-sm-9"> Shahrzad Kolahdooz </dd>

                <dt class="col-sm-3"> Phone </dt>
                <dd class="col-sm-9">+ 1 416 876 7782</dd>
                  

                <dt class="col-sm-3"> e-mail address </dt>
                <dd class="col-sm-9"> shahrzad.kolahdooz@gmail.com </dd>

                <dt class="col-sm-3 text-truncate"> LinkedIn </dt>
                <dd class="col-sm-9">https://www.linkedin.com/in/shahrzadk</dd>
              </dl>
            </div>  
        </div>
    </div>
</div>
</main>









    
    
    

    
    

<% } %>