<% if(title == "About Me") { %>


<main > 

 <!--using an image as a backgroung from my background class-->

  <div class="row py-4 align-items-center">
    <div class="col-md-5 col-12">
      <div class="row"><div class="col-2"></div>
        <div class="col-10">
          <p></p><h1 style="color:#e15635"> Shahrzad Kolahdooz </h1>
          <p class="fs-4" style="color:#455672"> I am an Artificial Intelligence studens
          at Cenntenial College. I have bachelore's degree in 
          software engineering. I have taught English Language as well.
          But I guess I am going to focus on programing now.</p>
          <a class="btn btn-dark" href="Assets/test.pdf" target="_blank" role="button"> Resume </a>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-12"><img src="Assets/images/me.jpg" class="img-fluid" style="width:200px" alt="image"></div>
  </div>

</main>









    
    
    

    
    

<% } %>