<% if(title == "About Me") { %>


<main >
<div class="jumbotron jumbotron-fluid">
    <div class="container">
         <h1 class="display-8"> Shahrzad Kolahdooz </h1>
      
        <div class="row">
            <div class="col">
              <img src="/Assets/images/me.jpg" width="150" alt="">
            </div>
            <div class="col-9">
          <h6 class="display-8">  </h6>
              
            </div>  
        </div>
    </div>
</div>
</main>









    
    
    

    
    

<% } %>