<% if(title == "Contact Me") { %>

<main >
<div class="jumbotron jumbotron-fluid">
    <div class="container">




        <div class="container">
            <div class="row">
              <div class="col">
                <!-- Contact information -->
                <p></p><h1 class="display-8"> Contact me: </h1>
                <div class="card" style="width: 35rem;">
                    <div class="card-body">
                        <h5 class="card-title"> Shahrzad Kolahdooz </h5>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-9">
                                <dl class="row">
                                
                                    <dt class="col-sm-3"> Phone </dt>
                                    <dd class="col-sm-9">+ 1 416 876 7782</dd>
                                    

                                    <dt class="col-sm-3"> e-mail </dt>
                                    <dd class="col-sm-9"> shahrzad.kolahdooz@gmail.com </dd>

                                    <dt class="col-sm-3 text-truncate"> LinkedIn </dt>
                                    <dd class="col-sm-9">https://www.linkedin.com/in/shahrzadk</dd>
                                </dl>
                                </div>  
                            </div>
                        </div>
                        <a href="https://www.linkedin.com/in/shahrzadk/" class="card-link"> My LinkedIn </a>
                        <a href="/home" class="card-link"> Back to the Home page</a>
                    </div>
                </div>
              </div>
              <div class="col">
                <!-- Message Box -->
                <div class="container">
                    <p></p><h3> Or you can send me a message here: </h3>
                </div>
                
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"> Name </label>
                    <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Jane">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"> Lastame </label>
                    <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="Doe">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"> Phone number </label>
                    <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="+1 837 234 2932">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"> Email address </label>
                    <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"> Message: </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <a class="btn btn-primary" href="/" role="button"> Submit </a>
              </div>
              
            </div>
        </div>







        


        
        
    </div>
</div>
</main>

<% } %>