<% if(title == "Home") { %>
<main >
<div class="jumbotron jumbotron-fluid">



<!-- My homepage carousel -->
    
    


  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/about"><img src="/Assets/images/home.png" class="d-block w-100" alt="About Me"></a>
    </div>
    <div class="carousel-item">
     <a href="/about"><img src="/Assets/images/about.png" class="d-block w-100" alt="About Me"></a>
    </div>
    <div class="carousel-item">
      <a href="/projects"><img src="/Assets/images/projects.png" class="d-block w-100" alt="Projects"></a>
    </div>
    <div class="carousel-item">
      <a href="/services"><img src="/Assets/images/services.png" class="d-block w-100" alt="Services"></a>
    </div>
    <div class="carousel-item">
      <a href="/contact"><img src="/Assets/images/contact.jpg" class="d-block w-100" alt="Contact Me"></a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





















  
 </div>
</main>

<% } %>