<% if(title == "Services") { %>
<main >
<div class="jumbotron jumbotron-fluid">
  <div class="container">
     <h1 class="display-8">Welcome to the <%= title %> page</h1>
  </div>
 </div>
</main>

<% } %>